.pendulum-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  padding: 32px;
  border-radius: 8px 0 0 8px;
  color: #fff;
  background-color: #192f47;
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.3);
}
